.home {
	height: 100vh;
	background-image: url(../images/background/background1.webp);
	background-size: cover;
	position: relative;
}

.home-content {
	position: absolute;
	width: 65%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.home .title {
	color: var(--whiteColor);
	font-size: 3.5rem;
	text-transform: uppercase;
}

.home .home-desc {
	margin: 20px 0;
	color: var(--whiteColor);
	letter-spacing: 2px;
	line-height: 1.5;
}

.home .btn {
	min-width: 160px;
	padding: 15px 0;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
	font-size: 18px;
}

.home .btn-start {
	margin-right: 10px;
	background-color: var(--whiteColor);
}

.home .btn-learn {
	background-color: var(--mainColor);
	color: var(--whiteColor);
}
