/* 
  1- Common CSS Styles
  2- General CSS Styles
  3- Sections
      3.0. - Header Section
      3.1 - Home Section
      3.2 - About Section
      3.3 - Portfolio Section
			3.4 - Offer Section
      3.5 - Services Section
      3.6 - Prices Section
      3.7 - Team Section
      3.8 - Blog Page
      3.9 - Contact Section
      3.10 - Footer Section
*/

/* 1-Common CSS Style */
/*
  1- Container 
  2- Overlay
*/

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
}

.hover-opacity {
	transition: opacity 0.5s;
}

.hover-opacity:hover {
	opacity: 0.8;
}

/* ltr and ttb effect */
.ltr-effect, .ttb-effect {
	position: relative;
}

.ltr-effect:after, .ttb-effect:after {
	position: absolute;
	content: "";
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
	background-color: #000;
	z-index: -1;	
}

/* left to right effect */
.ltr-effect:after {
	width: 0;
	transition: width 0.5s;
}

/* top to bottom effect */
.ttb-effect:after {
	height: 0;
	transition: height 0.5s;
}

.ltr-effect:hover:after {
	width: 100%;	
}

.ttb-effect:hover:after {
	height: 100%
}

/*
  3- Opacity hover 
  4- Section Header
  5- Section Padding 
  6- Hover Effect ( from left to right )
  7- Hover Effect ( from top to bottom )
*/

/* 2- General CSS Styles  */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--mainColor : #6195ff;
	--grayColor : #999;
	--bgGray : #f9f9f9;
	--whiteColor: #fff;
	--borderColor: #e8e8e8;
}

.container {
	width: 80%;
	margin: auto;
}

body {
	font-family: "Varela Round", sans-serif;
}

.clear {
	clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: montserrat, sans-serif;
}

button {
	font-family: inherit;
}

ul {
	list-style: none;
}

.pd-y {
	padding: 120px 0;
}

a {
	text-decoration: none;
}

.section-header {
	text-align: center;
}

.section-header .section-title {
	font-size: 35px;
	text-transform: capitalize;
	margin-bottom: 10px;
}

.section-header .line {
	display: block;
	height: 5px;
	width: 60px;
	margin: 0 auto 70px auto;
	background-color: var(--mainColor);
}

/*  3.0 Header Section  */

/*  3. Sections CSS Styles  */
/*  3.1 Home Style  */


/* 3.2 About Style */

/* 3.3 Portfolio Style */

/* 3.4 offer Style */

/* 3.5 Service Style */


/* 3.6 Numbers Section */


/* 3.5 Prices Style */


/* testimonial section */

/* 3.6 Team Style */

/* 3.7 Blog Page */


/* 3.8 Contact Style */


/* 3.9 Footer Style */

